.namePage {
    text-align: end;
}

.groupControlGestaoButtons {
    display: flex;
}

.tableProdResponse {
    height: 400px ;
    overflow: auto;
    position: relative;
}

.cardProducts {
    padding-bottom: 20px;
}

.formQtList {
    margin-right: 20px;
}



@media (max-width: 760px) {
    .groupControlGestaoButtons {
        display: none;
    }
}