.namePage {
    text-align: end;
}

.groupControlGestaoButtons {
    display: flex;
}

.tableProdResponse {
    height: 400px ;
    overflow: auto;
    position: relative;
}

.cardProducts {
    padding-bottom: 20px;
}

.toPageAddProduct {
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: start;
}

.addNewSetor {
    margin-top: 30px;
}


@media (max-width: 760px) {
    .groupControlGestaoButtons {
        display: none;
    }
}